$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
$primary-border-color: blue;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid $primary-border-color;
  margin-bottom: 10px;
    div.navbar-default {
      background-color: lightseagreen;
    }

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: black;
  border-top: 1px solid $primary-border-color;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid $primary-border-color;
    background-color: lightskyblue;

    h1 {
        font-size: 50px;
        font-family:monospace;

    }

  .btn {
    font-size: 21px;
    padding: 14px 24px;
      background-color:black;
      border: white;
  }
    div {
        border: 5px solid black;
        padding: 10px;
        background-color: lightcyan;

    }
    div p label {
        width: 175px;
        font-size: small;
    }
    div .btn {
        width: 175px;
        font-size: small;
    }

    dl {
        width: 500px;
        top-padding: 10px;
    }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

a.navbar-brand {
  font-family: sans-serif;
  font-size: 30px;
  margin-right: 100px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1100px;
    .weather-forecast {
      border: 2px solid black;
      h1 {
        background-color: lightslategrey;
        color: white;
        width: 515px;
        margin: 10px auto;
      }

    }

  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    width: auto;
    overflow: hidden;
      h1 {
        margin-top: 10px;
      }
  }
}

.nav li:hover {
    background-color: yellow;
  }
.nav li.active:hover {
    background-color: yellow;
}

  div.saved-buttons.ng-scope {
    width: 200px;
    float: right;
     h2 {
      background-color: black;
       height: 60px;
       color: white;
     }
    a.btn {
      width: 200px;

    }
  }
  dl.weather-forecast.ng-scope:hover {
    background: darkblue;
    color: white;
  }


  .jumbotron.ng-scope {
    border: 2px solid black;
  }

  dl.weather-forecast {
    width: 160px;
    height: 160px;
    border: 2px solid black;
    padding: 3px;
    background-color: #afd9ee;
    display: inline-block;
    margin: 10px;
  }


  ul.saved-cities-list {
    list-style: none;
  }

  li.ng-scope {
    margin: 5px;
  }

  /* footer */
  div footer {
    border: 2px solid black;
  }
  div.bottom-nav {
    display:inline-block;
    margin: 20px;
  }
  ul li {
    list-style-type: none;
  }
  footer {
    margin-top: 0;
    background: black;
    #address ul {
      padding: 0;
    }
    #resources ul {
      padding: 0;
    }
  }
  footer .bottom-nav {
    vertical-align: top;
    margin: 55px;
  }
  footer .bottom-nav h3 {
    color: white;
  }

  /* carousel styles */

  div[uib-carousel] {
    width: 260px;
    margin: 10px auto;
    max-height: 150px;
    overflow: hidden;
    min-height: 150px;

    .carousel-caption {
      bottom: auto;
      top: 20px;

      a {
        margin-top: 52px;
        display: block;
        color: yellow;
      }
    }
  }

