$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
$primary-border-color: blue;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.header {
  color: white;
}

body {
  padding: 0;
  background-color: #EDEDED;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {

  margin-bottom: 10px;
    div.navbar-default {
      color: white;
     background-color: #A6A6A6;
    }

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: black;
  border-top: 1px solid $primary-border-color;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  padding-top: 0px;
  text-align: center;
  background-color: transparent;
    h1 {
        font-size: 20px;
        font-family:monospace;

    }

  .btn {
    font-size: 21px;
    width: 140px;
      background-color:black;
      border: white;
  }
    div.lead {
        padding: 10px;

    }
    div p label {
        font-size: small;
    }
    div .btn {
        font-size: small;
    }

    dl {
        top-padding: 10px;
    }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

a.navbar-brand {
  font-family: sans-serif;
  color: white !important;
  font-size: 15px;
  margin-right: 5px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1100px;
    .weather-forecast {
      border: 2px solid black;
      h1 {
        background-color: lightslategrey;
        color: white;
        width: 515px;
        margin: 10px auto;
      }

    }

  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    border-radius: 6px !important;

    .search-wrapper {
      height: 150px;
      -webkit-box-shadow: -1px 1px 3px 3px rgba(0,0,0,0.50);
      -moz-box-shadow: -1px 1px 3px 3px rgba(0,0,0,0.50);
      box-shadow: -1px 1px 3px 3px rgba(0,0,0,0.50);

    }

    .results-cnt {
      margin: 30px 0 10px 0;
    }
    .search-inner {
      overflow: hidden;
      max-height: 100%;
background-color: white;
      .btn {
        margin-top: -5px;
      }
    }
  }
}



ul.nav.navbar-nav {
  float: right;
}

.nav li:hover {
    background-color: cornflowerblue;
  }
.nav li.active:hover {
    background-color: cornflowerblue;
}

  div.saved-buttons.ng-scope {
    width: 200px;
    float: right;
     h2 {
      background-color: black;
       height: 60px;
       color: white;
     }
    a.btn {
      width: 200px;

    }
  }
  dl.weather-forecast.ng-scope:hover {
    background: darkblue;
    color: white;
  }

.selected-city {
  height: 175px;
  color: black;
  border-radius: 6px;
  background-color: #afd9ee;
}

div .outer-box {
  height: 205px;
  padding: 6px;
  border-radius: 6px;
  background-color: white;
  -webkit-box-shadow: -1px 1px 3px 3px rgba(0,0,0,0.50);
  -moz-box-shadow: -1px 1px 3px 3px rgba(0,0,0,0.50);
  box-shadow: -1px 1px 3px 3px rgba(0,0,0,0.50);
}


  dl.weather-forecast {
    height: 160px;
    border: 2px solid black;
    display: inline-block;
  }



  ul.saved-cities-list {
    list-style: none;
  }

  li.ng-scope {
    margin: 5px;
  }

  /* footer */
  div footer {
    border: 2px solid black;
  }
  div.bottom-nav {
    display:inline-block;
    margin: 20px;
  }
  ul li {
    list-style-type: none;
  }
  footer {
    margin-top: 0;
    background: black;
    #address ul {
      padding: 0;
    }
    #resources ul {
      padding: 0;
    }
  }
  footer .bottom-nav {
    vertical-align: top;
    margin: 55px;
  }
  footer .bottom-nav h3 {
    color: white;
  }

  /* carousel styles */

  div[uib-carousel] {
    width: 260px;
    max-height: 100%;
    overflow: hidden;
    min-height: 100%;
    float: left;

    .carousel-caption {
      bottom: auto;
      top: 20px;

      a {
        margin-top: 52px;
        display: block;
        color: yellow;
      }
    }

    img .icon-img {
      height: 30px;
      width: 30px;
      margin-left: 0;

    }
  }

.results-container {
  transition: all linear 0.5s;
  height: 100px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;

    &.ng-hide {
      height: 0;
      width: 0;
      background-color: transparent;
      top:-200px;
      left: 200px;
  }
  li {
    width: 200px;
  }

}

.container-current {
margin-left: 20px;
}

.saved-cities {
  width: 138px;
  margin-top: 10px;
}

.header-current {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.weatherphoto {
  width: 300px;
  float: left;
}

.weather-info {
  width: 300px;
  float: left;
  margin-left: 140px;
}

.save-city {
  float: right;
}
