<h1 class="about-header">About Us</h1>
  <div class="about-container">
      <a href="" title="hankpict"><img src="images/hankpict.jpg"></a>
        <div class="profile">
          <p>This weather app is a tribute to a man who loved the weather...my grandfather Hank. He loved to track the weather locally and around the globe.
          His passion is what led me to naming the app, "Hank's Weather Corner". He would have appreciated it and the ability to keep track of current weather and the 16 day forecast.
          </p>
      <br>
          <p>In creating this app we are pulling our data from the Open Weather Map API. This API has a robust collection of data that allows our users to get a full idea of the weather for any given city.
          </p>
    </div>
  </div>
    <div class="bottom-navbtn2">
      <div class="return-button2">
        <a ng-href="#/" class="btn btn-lg btn-primary">	&lt; Return to Search</a>
      </div>
  </div>
