<h1 class="row sixteen-day" >16-day Forecast for {{castData.city.name}} {{forecastData.city.country}}</h1>

<dl ng-repeat="prediction in forecastData.list" class="col-xs-2 weather-forecast">
  <dt>{{prediction.dt*1000 | date: 'MMM dd, yyyy'}}</dt>
  <div class="weather-details">
    <dd>{{prediction.weather[0].main}}</dd>
    <dd>{{prediction.weather[0].description}}</dd>
  </div>

    <dt>Temperature</dt>
    <dd>Min: {{prediction.temp.min}} &deg;F Max: {{prediction.temp.max}} &deg;F</dd>

</dl>

<div class="forecast-btns">
  <div class="current-btn">
    <a ng-href="#/current/{{cityID}}" class="btn btn-lg btn-primary"> 	&lt; View Current Weather</a>
  </div>

    <div class="returntomain-btn">
      <a ng-href="#/" class="btn btn-lg btn-primary">Return to Search &#62; </a>
  </div>
</div>
